.emailList {
    flex: 1;
    overflow: scroll;

    &__settings {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        background-color: $color-background-primary;
        z-index: 999;
        padding-right: 0.625em;
        border-bottom: 1px solid $color-details;
    }
    &__sections {
        display: flex;
        // justify-content: space-around;
        position: sticky;
        top: 0;
        border-bottom: 1px solid $color-details;
        background-color: $color-background-primary;
        z-index: 999;
    }
}
