.emailList {
    flex: 1;
    overflow: scroll;
    /*Hide scrollbar for Chrome , safari and opera*/
    &::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE , Edge and Firefox*/
    -ms-overflow-style: none; /*IE and Edge*/
    scrollbar-width: none; /*Firefox*/

    &__settings {
        display: flex;
        justify-content: space-between;
        background-color: $color-background-primary;
        position: sticky;
        top: 0;
        z-index: 999;
        padding-right: 0.625em;
        border-bottom: 1px solid $color-details;
    }
    &__sections {
        display: flex;
        position: sticky;
        top: 0;
        border-bottom: 1px solid $color-details;
        background-color: $color-background-primary;
        z-index: 999;
    }
    &__list {
        padding-bottom: 10%;
    }
}
