.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-details;
    padding-right: 1em;
    background-color: $color-background-primary;

    &__left {
        display: flex;
        align-items: center;
        gap: 0.5em;
    }
    &__left > img {
        object-fit: contain;
        height: 12vmin;
    }
    &__middle {
        display: flex;
        align-items: center;
        flex: 0.7;
        background-color: $color-details;
        border-radius: 10px;
        padding: 0.7em;
        input {
            border: none;
            width: 100%;
            padding: 0.5em;
            outline-width: 0;
            background-color: transparent;
        }
    }
    &__right {
        display: flex;
        align-items: center;
        gap: 0.7em;
    }
    & .MuiIconButton-label {
        display: flex !important;
        flex-direction: column !important;
    }
    &__logoutText {
        font-size: 0.5rem;
        font-weight: 600;
        padding: 0.2em;
    }
}
