* {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: clamp(0.625rem, 2vmin, 1.2rem);
    color: $color-primary;
    background-color: $color-background-primary;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h3,
h4 {
    font-weight: 600;
    font-size: clamp(0.875rem, 2.325vmin, 1rem);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}
.container {
    width: 80%;
    max-width: 1350px;
    margin: 0 auto;
}

@include smallScreen {
    .MuiSvgIcon-root {
        font-size: 0.9rem !important;
    }
    .MuiAvatar-root {
        width: 1.5rem !important;
        height: 1.5rem !important;
    }
}

@include mediumScreen {
    .MuiSvgIcon-root {
        font-size: 1rem !important;
    }
    .MuiButtonBase-root {
        padding: 0.1em !important;
    }
}
