$color-background-primary: #ffffff;
$color-background-secondary: rgb(78, 78, 78);
$color-background-login: #f2f2f2;
$color-details: whitesmoke;
$color-primary: grey;
$color-box-shadow: rgba(0, 0, 0, 0.75);
$color-box-shadow--second: rgba(0, 0, 0, 0.24);
$color-active: #c04b37;
$color-background-active: #fcecec;
$color-bold: black;
$color-mark: #e8ab02;
$color-form-button: #3079ed;
