$color-background-primary: #ffffff;

$color-details: whitesmoke;
$color-primary: grey;
$color-box-shadow: rgba(0, 0, 0, 0.75);
$color-box-shadow--second: rgba(0, 0, 0, 0.24);
$color-active: #c04b37;
$color-background-active: #fcecec;
$color-bold: black;
